<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  style="--email-Bg-color:#ffffff;--color-blue:#1C85EB;--color-black:#555555;--paraFont:'Mueso sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;--para-text-color:#616467;--footer-Bg-color:#f7f7f7;">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- These templates include useful snippets to choose from when building emails-->
    <style>
      * {
        Margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      *::after {
        Margin: 0;
        padding: 0
      }

      *::before {
        Margin: 0;
        padding: 0
      }

      #cta-btn:hover {
        background: #555555;
        color: #1C85EB
      }
    </style>
    <style type="text/css">
      /* styles */

      /* variables */
      /* Global styles */
    </style>
  </head>

  <body
    style="Margin:0;width:100%;padding:0 5%;background-color:var(--email-Bg-color, #ffffff);font-family:var(--paraFont);">
    <!-- email container -->
    <center class="email-container" style="Margin:0;padding:0;">
      <div class="email-template"
        style="Margin:0;padding:0;background-color:var(--email-Bg-color, #ffffff);width:100%;max-width:400px;display:block;">
        <!-- The email content -->
        <table class="email-content-wrapper" align="center"
          style="Margin:0;padding:0;border-spacing:0;Margin:0 auto;width:100%;max-width:400px;">
          <!-- header snippet -->
          <tr id="header-snippet" style="Margin:0;padding:0;margin-top:1rem;margin-bottom:2rem;display: block;"
            class="space-t-1 space-b-2">
            <td style="Margin:0;padding:0;">

            </td>
          </tr>
          <!-- End of header snippet -->