{{> header}}
<!-- Text snippet -->
<tr id="text-snippet" class="space-t-1 space-b-1" style="Margin:0;margin-top:1rem;margin-bottom:1rem;display: block;">
  <td style="Margin:0;padding:0;">
    <h2 class="email-text" style="Margin:0;padding:0;color:var(--para-text-color, #616467);font-size:1rem;">
      Hello {{name}}
    </h2>
  </td>
</tr>
<!-- End of text snippet -->

<!-- Text snippet -->
<tr id="text-snippet" class="space-t-1 space-b-1" style="Margin:0;margin-top:1rem;margin-bottom:1rem;display: block;">
  <td style="Margin:0;padding:0;">
    <p class="email-text" style="Margin:0;padding:0;color:var(--para-text-color, #616467);font-size:1rem;">
      This is to notify you that your balance topup of #{{amount}} was successful.
    </p>
  </td>
</tr>
<!-- End of text snippet -->

<!-- Text snippet -->
<tr id="text-snippet" class="space-t-1 space-b-1" style="Margin:0;margin-top:1rem;margin-bottom:1rem;display: block;">
  <td style="Margin:0;padding:0;">
    <p class="email-text" style="Margin:0;padding:0;color:var(--para-text-color, #616467);font-size:1rem;">
      Spend balance topup was done {{when}}.
    </p>
  </td>
</tr>
<!-- End of text snippet -->

{{> footer}}