{{> header}}
<!-- Text snippet -->
<tr id="text-snippet" class="space-t-1 space-b-1" style="Margin:0;margin-top:1rem;margin-bottom:1rem;display: block;">
  <td style="Margin:0;padding:0;">
    <h1 class="email-text" style="Margin:0;padding:0;color:var(--para-text-color, #616467);font-size:1rem;">
      Hello {{name}}!
    </h1>
  </td>
</tr>
<!-- End of text snippet -->

<!-- Text snippet -->
<tr id="text-snippet" class="space-t-1 space-b-1" style="Margin:0;margin-top:1rem;margin-bottom:1rem;display: block;">
  <td style="Margin:0;padding:0;">
    <p class="email-text" style="Margin:0;padding:0;color:var(--para-text-color, #616467);font-size:1rem;">
      This is to notify you that a charge of <b>#{{amount}}</b> was for {{purpose}} failed due to insufficient wallet
      balance.
      Please kindly login into your Lunchtyme dahsboard and topup your wallet balance.
    </p>
  </td>
</tr>
<!-- End of text snippet -->

{{> footer}}