{{> header}}
<!-- Text snippet -->
<tr id="text-snippet" class="space-t-1 space-b-1" style="Margin:0;margin-top:1rem;margin-bottom:1rem;display: block;">
  <td style="Margin:0;padding:0;">
    <h1 class="email-text" style="Margin:0;padding:0;color:var(--para-text-color, #616467);font-size:1rem;">
      Hello {{name}}!
    </h1>
  </td>
</tr>
<!-- End of text snippet -->

<!-- Text snippet -->
<tr id="text-snippet" class="space-t-1 space-b-1" style="Margin:0;margin-top:1rem;margin-bottom:1rem;display: block;">
  <td style="Margin:0;padding:0;">
    <p class="email-text" style="Margin:0;padding:0;color:var(--para-text-color, #616467);font-size:1rem;">
      Please use the OTP below to verify your email address:
    </p>
  </td>
</tr>
<!-- End of text snippet -->

<!-- Text snippet -->
<tr id="text-snippet" class="space-t-1 space-b-1" style="Margin:0;margin-top:1rem;margin-bottom:1rem;display: block;">
  <td style="Margin:0;padding:0;">
    <p class="email-text"
      style="Margin:0;font-weight:bolder;padding:0;color:var(--para-text-color, #616467);font-size:1rem;">
      {{OTP}}
    </p>
  </td>
</tr>
<!-- End of text snippet -->

<!-- Text snippet -->
<tr id="text-snippet" class="space-t-1 space-b-1" style="Margin:0;margin-top:1rem;margin-bottom:1rem;display: block;">
  <td style="Margin:0;padding:0;">
    <p class="email-text" style="Margin:0;padding:0;color:var(--para-text-color, #616467);font-size:1rem;">
      This OTP will expire thirty minutes after this email was sent.
    </p>
  </td>
</tr>
<!-- End of text snippet -->

{{> footer}}