{{> header}}
<!-- Text snippet -->
<tr id="text-snippet" class="space-t-1 space-b-1" style="Margin:0;margin-top:1rem;margin-bottom:1rem;display: block;">
  <td style="Margin:0;padding:0;">
    <h2 class="email-text" style="Margin:0;padding:0;color:var(--para-text-color, #616467);font-size:1rem;">
      Dear {{name}},
    </h2>
  </td>
</tr>
<!-- End of text snippet -->

<!-- Text snippet -->
<tr id="text-snippet" class="space-t-1 space-b-1" style="Margin:0;margin-top:1rem;margin-bottom:1rem;display: block;">
  <td style="Margin:0;padding:0;">
    <p class="email-text" style="Margin:0;padding:0;color:var(--para-text-color, #616467);font-size:1rem;">
      Welcome to Lunchtyme! We are thrilled to have you Here.
    </p>
  </td>
</tr>
<!-- End of text snippet -->

<!-- Text snippet -->
<tr id="text-snippet" class="space-b-1" style="Margin:0;margin-bottom:1rem;display: block;">
  <td style="Margin:0;padding:0;">
    <p class="email-text" style="Margin:0;padding:0;color:var(--para-text-color, #616467);font-size:1rem;">
      To get started, simply log in to your account and begin exploring. If you have any questions or need assistance,
      our
      support team is here to help. Feel free to reach out at <a class="imp" href="mailto:info@bradoresearch.xyz"
        style="Margin:0;padding:0;color:#555555;font-weight:500;text-decoration:underline;">info@bradoresearch.xyz</a>.
    </p>
  </td>
</tr>
<!-- End of text snippet -->

<!-- Text snippet -->
<tr id="text-snippet" class="space-b-1" style="Margin:0;margin-bottom:1rem;display: block;">
  <td style="Margin:0;padding:0;">
    <p class="email-text" style="Margin:0;padding:0;color:var(--para-text-color, #616467);font-size:1rem;">
      Thank you for choosing Lunchtyme. We look forward to supporting you in this journey.
    </p>
  </td>
</tr>
<!-- End of text snippet -->

{{> footer}}